body{
    background: azure;
}
i {
    color: azure;
    margin-right: 8px;
}
.nav-item:hover .nav-link {
    color: azure;
    text-decoration: none;
    transform: scale(1.05);
    transition: .3s;
}

form {
    width: 500px;
    margin-top: 30px;
}
textarea.form-control {
    height: 50px;
}